body {
  padding: 10px 10px;
}

button {
  margin: 10px;
  border-radius: 10px;
  border-style: none;
  background-color: rgb(18, 136, 214);
  padding: 5px;
  color: white;
}

h4{
  width: 200px;
  font-family: 'Yeseva One', cursive;
  font-size: 1.5em;
}